#timeline-container svg {
    font: 10px sans-serif;
}

#timeline-container .area {
    fill: steelblue;
    fill-opacity: 0.7;
}

#timeline-container .axis path,
#timeline-container .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

#timeline-container .brush .extent {
    stroke: #fff;
    fill: #000;
    fill-opacity: .25;
    shape-rendering: crispEdges;
}




#column-container .axis text {
    font-family: 'Open Sans', sans-serif;
    font-size: 20pt;
  }
  #column-container .axis .label {
    font-size: 20pt;
  }

  #column-container .axis path, .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
  }

  #column-container .x.axis text {
    font-size: 20pt;
  }


  #column-container {
    margin:auto;
    width:1300px;
  }

  #column-container svg {
    border:1px solid gray;
    margin:5px;
  
  }
